* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  width: 330px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 300px;
  border-radius: 5px;
}

.text {
  width: 100%;
  padding: 20px 15px 5px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 375px);
